@font-face {
    font-family: "Ericssong";
    src: url('../fonts/ericssonga628.TTF');
}

@font-face {
    font-family: "fs_blok";
    src: url('../fonts/fs_blok.ttf');
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    background: url(../img/stardust/stardust.png) top left repeat #333;
}

.ds-grid {
}

.ds-sans {
    font-family: "fs_blok", "Ericssong", monospace;
    font-size: 22px;
}

.ds-video {
    height: calc((100vw/16)*9);
    max-height: 70vh;
}

.ds-chat {
    text-align: center;
}

.ds-messages {
    width: 95%;
    padding: 3px 7px;
    margin: 10px 0 5px 0;
    border: 1px solid #333;
    background-color: #777;
    color: greenyellow;
    border-radius: 4px;
    resize: none;
}

.ds-messages:hover {
}

.ds-message {
    width: 95%;
    padding: 3px 7px;
    border: 1px solid #333;
    background-color: #777;
    color: greenyellow;
    border-radius: 4px;
    margin: 5px 0 10px 0;
}

.ds-message:hover {
    border-color: greenyellow;
    -webkit-box-shadow: 0px 0px 7px 0px greenyellow;
    -moz-box-shadow:    0px 0px 7px 0px greenyellow;
    box-shadow:         0px 0px 7px 0px greenyellow;
}

.ds-message:focus {
    border-left: 4px solid greenyellow;
    border-color: greenyellow;
    padding-left: 4px;
    outline: none;
}

.ds-inset-shadow {
    -webkit-box-shadow: inset 0px 0px 7px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    inset 0px 0px 7px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         inset 0px 0px 7px 0px rgba(50, 50, 50, 0.75);
}

.ds-vcenter {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#video {
    width: 100%;
    height: 100%;
}

.ds-video-filter {
    -webkit-filter: grayscale(1);
}